{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new.css' %}?after" />
{% endblock %} 

{% block content %}
<body>
  <div class="container" style="max-width: 600px; margin: 20px auto; padding: 30px; background-color: white; box-shadow: 0 2px 4px rgba(0,0,0,0.1); display: flex; flex-direction: column; align-items: center;">
          <h2>New Post</h2>
          <form action="{% url 'new' %}" method="post">
              {% csrf_token %}
              <div>
                  <div>Title</div>
                  <input type="text" name="title" />
              </div>
              
              <div>
                  <div>Content</div>
                  <textarea name="content" cols="30" rows="30"></textarea>
              </div>
              <div class="submitbutton">
                  <button type="submit">Submit</button>
              </div>
          </form>
  </div>
</body>
{% endblock %}