body {
  background-color: #222;
}
a:visited {
  color: #222;
}
mark {
  color: #222;
  background: #f7941e;
  border-radius: 3px;
}
li {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2em;
  padding: 4px;
}
li:nth-child(9) {
  font-size: 1.5em;
  font-weight: bold;
}  
img {
  width: 100%;
  border-radius: 15px;
}
.container {
  width: 88%;
  color: white;
  /* background-color: aliceblue; */
  margin: 0 auto;
  border: 3px solid #f7941e;
  padding: 40px;
  margin: 60px;
}
#contentWrapper {
  max-width: 430px;

  margin: 0 auto;
}
p {
  font-size: 20px;
  font-weight: 700;
}
b {
  color: #f7941e;
}
h3 {
  text-align: center;
}
.noDot {
  list-style: none;
  padding-top: 300px;
}
