{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'project.css'%}" />
</head>
<body>
    <div class="list">
        <h2 class="title">Project What I Made</h2>
        <div class="project-content">
            <div class="left">
              <img src="{% static 'img/instagram.png' %}" />
              <span style="margin-left: -260px; font-size: 18px;">* instagram</span>
            </div>
            <div class="right">
              <img src="{% static 'img/toss.png' %}" />
              <span style="margin-left: -210px; font-size: 18px;">* toss</span>
            </div>
        <div>
    </div>
</body>
</html>