/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('img/pochacco.jpg'); /* 이미지 파일 경로에 따라 수정 */
    background-size: 60% auto;
    background-position: right;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category, .list {
    padding-left: 100px;
    padding-bottom: 50px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Article styles */
.article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Link styles */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
